<form id="add-technician-form" class="w-2/4 grid grid-cols-[auto_auto] gap-10">
  <div>
    <label for="add-technician-first-name" class="text-sm font-medium">First
      Name</label>
    <input
      id="add-technician-first-name"
      name="first_name"
      type="text"
      class="w-full mt-1 p-2 border border-gray-300 rounded"
    />
  </div>
  <div>
    <label for="add-technician-last-name" class="text-sm font-medium">Last Name</label>
    <input
      id="add-technician-last-name"
      name="last_name"
      type="text"
      class="w-full mt-1 p-2 border border-gray-300 rounded"
    />
  </div>
  <div>
    <label for="add-technician-email" class="text-sm font-medium">Email</label>
    <input
      id="add-technician-email"
      name="email"
      type="email"
      class="w-full mt-1 p-2 border border-gray-300 rounded"
    />
  </div>
  <div>
    <label
      for="add-technician-password"
      class="text-sm font-medium"
    >Password</label>
    <input
      id="add-technician-password"
      name="password"
      type="password"
      class="w-full mt-1 p-2 border border-gray-300 rounded"
    />
  </div>
  <div>
    <label for="add-technician-phone" class="text-sm font-medium">Phone</label>
    <input
      id="add-technician-phone"
      name="phone"
      type="text"
      class="w-full mt-1 p-2 border border-gray-300 rounded"
    />
  </div>
  <div>
    <label
      for="add-technician-address"
      class="text-sm font-medium"
    >Address</label>
    <input
      id="add-technician-address"
      name="address"
      type="text"
      class="w-full mt-1 p-2 border border-gray-300 rounded"
    />
  </div>
  <div>
    <label
      for="add-technician-postcode"
      class="text-sm font-medium"
    >Postcode</label>
    <input
      id="add-technician-postcode"
      name="postcode"
      type="text"
      class="w-full mt-1 p-2 border border-gray-300 rounded"
    />
  </div>
  <div>
    <label for="add-technician-city" class="text-sm font-medium">City</label>
    <input
      id="add-technician-city"
      name="city"
      type="text"
      class="w-full mt-1 p-2 border border-gray-300 rounded"
    />
  </div>
  <div>
    <label for="add-technician-state" class="text-sm font-medium">State</label>
    <input
      id="add-technician-state"
      name="state"
      type="text"
      class="w-full mt-1 p-2 border border-gray-300 rounded"
    />
  </div>

  <button
    type="submit"
    class="bg-m-brown col-start-1 col-end-3 text-m-silver hover:bg-stone-700 font-bold py-3 px-2 rounded active:scale-[0.99] active:bg-m-brown"
  >Add Technician</button>
</form>