<div
  class="grid auto-rows-auto grid-cols-[max-content_1fr_max-content_1fr] mb-3 p-3 gap-3 border-b-2"
>
  <div class="select-none">Customer Name:</div>
  <div>Craig Roberts</div>
  <div class="select-none">Phone number:</div>
  <div>0407 226 002</div>
  <div class="select-none">Address:</div>
  <div>123 Fake Street Adelaide 5000</div>
  <div class="select-none">Registration:</div>
  <div>S579CDU</div>
  <div class="select-none">Make:</div>
  <div>Hyundai</div>
  <div class="select-none">Model:</div>
  <div>i30</div>
  <div class="select-none">Job type:</div>
  <div>Inspection and Service</div>
  <div class="select-none">Price:</div>
  <div>$300</div>
  <div class="select-none">Drop-off time:</div>
  <div>9.00am</div>
  <div class="select-none">Job length:</div>
  <div>1 hour</div>
  <div class="select-none">Notes:</div>
  <div>Authority given to replace brake pads if needed</div>
  <div class="select-none">Assigned Technician:</div>
  <div>
    <select class="mechanic-list">
      <option value="craig">Craig</option>
      <option value="shae">Shae</option>
      <option value="gary">Gary</option>
      <option value="pipat">Pipat</option>
      <option value="lucian">Lucian</option>
    </select>
    <button class="assign-technician border">Assign Technician</button>
  </div>
</div>
<div
  class="grid auto-rows-auto grid-cols-[max-content_1fr_max-content_1fr] mb-3 p-3 gap-3 border-b-2"
>
  <div class="select-none">Customer Name:</div>
  <div>Craig Roberts</div>
  <div class="select-none">Phone number:</div>
  <div>0407 226 002</div>
  <div class="select-none">Address:</div>
  <div>123 Fake Street Adelaide 5000</div>
  <div class="select-none">Registration:</div>
  <div>S579CDU</div>
  <div class="select-none">Make:</div>
  <div>Hyundai</div>
  <div class="select-none">Model:</div>
  <div>i30</div>
  <div class="select-none">Job type:</div>
  <div>Inspection and Service</div>
  <div class="select-none">Price:</div>
  <div>$300</div>
  <div class="select-none">Drop-off time:</div>
  <div>9.00am</div>
  <div class="select-none">Job length:</div>
  <div>1 hour</div>
  <div class="select-none">Notes:</div>
  <div>Authority given to replace brake pads if needed</div>
  <div class="select-none">Assigned Technician:</div>
  <div>
    <select class="mechanic-list">
      <option value="craig">Craig</option>
      <option value="shae">Shae</option>
      <option value="gary">Gary</option>
      <option value="pipat">Pipat</option>
      <option value="lucian">Lucian</option>
    </select>
    <button class="assign-technician border">Assign Technician</button>
  </div>
</div>
<div
  class="grid auto-rows-auto grid-cols-[max-content_1fr_max-content_1fr] mb-3 p-3 gap-3 border-b-2"
>
  <div class="select-none">Customer Name:</div>
  <div>Craig Roberts</div>
  <div class="select-none">Phone number:</div>
  <div>0407 226 002</div>
  <div class="select-none">Address:</div>
  <div>123 Fake Street Adelaide 5000</div>
  <div class="select-none">Registration:</div>
  <div>S579CDU</div>
  <div class="select-none">Make:</div>
  <div>Hyundai</div>
  <div class="select-none">Model:</div>
  <div>i30</div>
  <div class="select-none">Job type:</div>
  <div>Inspection and Service</div>
  <div class="select-none">Price:</div>
  <div>$300</div>
  <div class="select-none">Drop-off time:</div>
  <div>9.00am</div>
  <div class="select-none">Job length:</div>
  <div>1 hour</div>
  <div class="select-none">Notes:</div>
  <div>Authority given to replace brake pads if needed</div>
  <div class="select-none">Assigned Technician:</div>
  <div>
    <select class="mechanic-list">
      <option value="craig">Craig</option>
      <option value="shae">Shae</option>
      <option value="gary">Gary</option>
      <option value="pipat">Pipat</option>
      <option value="lucian">Lucian</option>
    </select>
    <button class="assign-technician border">Assign Technician</button>
  </div>
</div>
<div
  class="grid auto-rows-auto grid-cols-[max-content_1fr_max-content_1fr] mb-3 p-3 gap-3 border-b-2"
>
  <div class="select-none">Customer Name:</div>
  <div>Craig Roberts</div>
  <div class="select-none">Phone number:</div>
  <div>0407 226 002</div>
  <div class="select-none">Address:</div>
  <div>123 Fake Street Adelaide 5000</div>
  <div class="select-none">Registration:</div>
  <div>S579CDU</div>
  <div class="select-none">Make:</div>
  <div>Hyundai</div>
  <div class="select-none">Model:</div>
  <div>i30</div>
  <div class="select-none">Job type:</div>
  <div>Inspection and Service</div>
  <div class="select-none">Price:</div>
  <div>$300</div>
  <div class="select-none">Drop-off time:</div>
  <div>9.00am</div>
  <div class="select-none">Job length:</div>
  <div>1 hour</div>
  <div class="select-none">Notes:</div>
  <div>Authority given to replace brake pads if needed</div>
  <div class="select-none">Assigned Technician:</div>
  <div>
    <select class="mechanic-list">
      <option value="craig">Craig</option>
      <option value="shae">Shae</option>
      <option value="gary">Gary</option>
      <option value="pipat">Pipat</option>
      <option value="lucian">Lucian</option>
    </select>
    <button class="assign-technician border">Assign Technician</button>
  </div>
</div>