<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CarDex</title>

  <!-- Import Tailwind CSS -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Import Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <!-- Header -->
  <header class="bg-gray-800 text-white py-4">
    <div class="container mx-auto flex items-center justify-between">
      <div class="flex items-center">
        <!-- Project Logo -->
        <img src="#" alt="CarDex Logo" class="h-8 w-auto mr-4" />
        <h1 class="text-xl">CarDex</h1>
      </div>
      <nav class="text-base">
        <ul class="flex">

          <li class="mr-4"><a href="/" class="text-white">Home</a></li>
          <li class="mr-4"><a href="/dashboard" class="text-white">Dashboard</a></li>

          {{#if logged_in}}
          <!-- User is logged in -->
          <li class="mr-4"><a href="/profile" id="profile" class="text-white">Profile</a></li>
          <li><button id="logout" class="text-white">Logout</button></li>
          {{else}}
          <!-- User is not logged in -->
          <li><a href="/login" class="text-white">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </header>
  <!-- Main content -->
  <main class="w-full">
    {{{body}}}
  </main>

  <!-- Footer -->
  <footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto text-center">
      <p>&copy; 2023 CarDex. All rights reserved.</p>
      <!-- Add your footer content here, e.g., social media links -->
    </div>
  </footer>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>