<div class="grow bg-fixed bg-cover bg-no-repeat opacity-90" style="background-image: url('images/home.png');">
  <div class="flex flex-col items-center justify-center h-full w-full bg-black text-m-cream bg-opacity-40">
    <div class="text-center px-4">
      <h1 class="text-4xl md:text-6xl font-bold mb-4">Welcome to Mechanomicon</h1>
      <p class="text-xl md:text-2xl mb-8 font-bold">We provide the best quality car repairs for our customers. Experience the ultimate
        convenience and quality with us.</p>
      <a href="/login" class="inline-block bg-m-brown text-m-silver hover:bg-stone-500 font-bold py-3 px-5 rounded">
        Get started
      </a>
    </div>
  </div>
</div>