<div class="w-full min-h-screen bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400">
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2 flex flex-col justify-center items-center" id="left-section">
      <div id="login-section" class="bg-gray-200 rounded-lg shadow-md w-2/3 p-8">
        <!-- Login form here -->
        <form id="login-form" class="my-3 p-8 bg-white shadow-lg rounded-lg">
          <div class="mb-4">
            <label for="login-email" class="block text-gray-700">Email address</label>
            <input type="email" class="form-control w-full px-3 py-2 border rounded" id="login-email"
              placeholder="Email" />
          </div>
          <div class="mb-4">
            <label for="login-password" class="block text-gray-700">Password</label>
            <input type="password" class="form-control w-full px-3 py-2 border rounded" id="login-password"
              placeholder="Password" />
          </div>
          <button type="submit"
            class="btn btn-primary my-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login</button>
          <a href="/resetPassword" class="mx-5 underline hover:no-underline hover:text-blue-500 text-lg">Forgot the
            password?</a>

        </form>
        <button type="button"
          class="btn btn-secondary bg-teal-300 hover:bg-teal-200 text-gray-700 font-bold py-2 px-4 rounded mt-6"
          id="show-signup">Don't have an account? Sign up Now</button>

        <br />
        <button type="button"
          class="btn btn-secondary bg-red-500 hover:bg-red-300 text-white font-bold py-2 px-4 rounded my-5"
          id="show-signup-google">
          <span class="google-icon" style="background-image: url('images/google.svg');"></span>
          Sign in with Google</button>

      </div>

      <div id="signup-section" class="bg-gray-200 rounded-lg shadow-md p-8 w-2/3 hidden">
        <!-- Signup form here -->
        <form id="signup-form" class="my-3 p-8 bg-white shadow-lg rounded-lg">
          <div class="mb-4">
            <label for="signup-name" class="block text-gray-700">Name</label>
            <input type="text" class="form-control w-full px-3 py-2 border rounded" id="signup-name"
              placeholder="Name" />
          </div>
          <div class="mb-4">
            <label for="signup-email" class="block text-gray-700">Email address</label>
            <input type="email" class="form-control w-full px-3 py-2 border rounded" id="signup-email"
              placeholder="Email" />
          </div>
          <div class="mb-4">
            <label for="signup-password" class="block text-gray-700">Password</label>
            <input type="password" class="form-control w-full px-3 py-2 border rounded" id="signup-password"
              placeholder="Password" />
          </div>
          <button type="submit"
            class="btn btn-primary my-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Sign
            Up</button>
        </form>
        <button type="button"
          class="btn btn-secondary bg-teal-300 hover:bg-teal-400 text-gray-700 font-bold py-2 px-4 rounded"
          id="show-login">Have an account? Log in Now</button>
      </div>
    </div>
    <div class="w-full md:w-1/2" id="right-section">
      <div id="welcome-image-section" class="mx-3 my-3">
        <img src="images/login.png" alt="Welcome" class="img-fluid w-full" />
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/login.js"></script>