<h1>Information for {{car-rego}}:</h1>

<div>
    <form class="future-work">
        <h3>Work Completed:</h3>
        <div class="oil-checkbox">
            <input id="oil-checkbox" type="checkbox">
            <label for="oil-checkbox">Oil Changed</label>
        </div>

        <div class="filter-checkbox">
            <input id="filter-checkbox" type="checkbox">
            <label for="filter-checkbox">Filter Changed</label>
        </div>

        <div class="brake-checkbox">
            <input id="brake-checkbox" type="checkbox">
            <label for="brake-checkbox">Brakes Checked</label>
        </div>

        <div class="coolant-checkbox">
            <input id="coolant-checkbox" type="checkbox">
            <label for="coolant-checkbox">Coolant Checked</label>
        </div>
        
        <div class="battery-checkbox">
            <input id="battery-checkbox" type="checkbox">
            <label for="battery-checkbox">Battery Checked</label>
        </div>

        <div class="suspension-checkbox">
            <input id="suspension-checkbox" type="checkbox">
            <label for="suspension-checkbox">Suspension Checked</label>
        </div>
        
        <div class="filters-checkbox">
            <input id="filters-checkbox" type="checkbox">
            <label for="filters-checkbox">All Filters Checked</label>
        </div>

        <div class="inspection-checkbox">
            <input id="inspection-checkbox" type="checkbox">
            <label for="inspection-checkbox">General Inspection Completed</label>
        </div>

        <div>
            <label for="message">Comments & Future Reccomendations:</label>
            <textarea id="message" rows="4" placeholder="Write your comments here..."></textarea>
        </div>
        <button>Submit</button>
    </form>
</div>

<script src="./js/service.js"></script>