<div class="flex flex-row grow">
  <aside class="w-64 bg-slate-200 ">
    <ul class="flex flex-col flex-nowrap">
      <li id="job-link" class="hover:cursor-pointer  text-center py-2 mx-auto px-2 w-full select-none">Job List</li>
      <li id="customer-link" class="hover:cursor-pointer text-center py-2 mx-auto px-2 w-full select-none">Customers</li>
      <li id="technician-link" class="hover:cursor-pointer text-center py-2 mx-auto px-2 w-full select-none">Technicians</li>
      <li id="add-technician-link" class="hover:cursor-pointer text-center py-2 mx-auto px-2 w-full select-none">Add Technician</li>
    </ul>
  </aside>
  <section class="p-3 w-full ">
    <div id="jobs-section" class="block overflow-hidden overflow-y-auto h-full">
    {{> jobs }}
    </div>  
    <div id="customer-section" class="hidden overflow-hidden overflow-y-auto h-full ">
    {{> customers }}
    </div>  
    <div id="technician-section" class="hidden overflow-hidden overflow-y-auto h-full ">
    {{> technicians }}
    </div>  
    <div id="add-technician-section" class="hidden overflow-hidden overflow-y-auto h-full ">
    {{> addTechnician }}
    </div>  

  </section>
{{!-- Capture data passed from API for manipulation by workshop.js --}}
<script>
  const customersJSON = {{{customersJSON}}};
  console.log("🚀 ~ file: workshopDashboard.handlebars:28 ~ customers:", customersJSON)
  const techniciansJSON = {{{techniciansJSON}}};
  console.log("🚀 ~ file: workshopDashboard.handlebars:29 ~ technicians:", techniciansJSON)
  const jobsJSON = {{{jobsJSON}}};
  console.log("🚀 ~ file: workshopDashboard.handlebars:31 ~ jobs:", jobsJSON)
  const servicesJSON = {{{servicesJSON}}};
  console.log("🚀 ~ file: workshopDashboard.handlebars:33 ~ services:", servicesJSON)
  </script>
  <script src="/js/workshop.js"></script>
</div>