<div class="flex grow h-full">
  <aside class="w-64 bg-slate-200 h-full">
    <ul class="flex flex-col flex-nowrap">
      <li id="job-link" class="hover:cursor-pointer  text-center py-2 mx-auto px-2 w-full select-none">Job List</li>
      <li id="customer-link" class="hover:cursor-pointer text-center py-2 mx-auto px-2 w-full select-none">Customers</li>
      <li id="technician-link" class="hover:cursor-pointer text-center py-2 mx-auto px-2 w-full select-none">Technicians</li>
      <li id="inventory-link" class="hover:cursor-pointer text-center py-2 mx-auto px-2 w-full select-none">Inventory</li>
    </ul>
  </aside>
  <section class="p-3 w-full">
    <div id="jobs-section" class="block overflow-hidden overflow-y-auto h-full">
    {{> jobs }}
    </div>  
    <div id="customer-section" class="hidden overflow-hidden overflow-y-auto h-full ">
    {{> customers }}
    </div>  
    <div id="technician-section" class="hidden overflow-hidden overflow-y-auto h-full ">
    {{> technicians }}
    </div>  
    <div id="inventory-section" class="hidden overflow-hidden overflow-y-auto h-full">
    {{> inventory }}
    </div>  

  </section>
{{!-- Capture data passed from API for manipulation by workshop.js --}}
<script>
  let mechanics = {{{mechanics}}};
  let jobs = {{{jobs}}};
  </script>
  <script src="/js/workshop.js"></script>
</div>