on page load, will contain the calendar partial set to the current date. panel
on left-hand side to swap between the different options of mechanics, customers
and the calendar header section which allows selection of date main part of
calendar is a bunch of timeslots showing the jobs that are booked for that day.
perhaps 1 column per mechanic at the workshop a search bar will be available as
a bonus feature to search for jobs from the past and display those in a list.

<div class="flex">
  <aside>
    <h3>Robbo's Repairs</h3>
    <a href="">Calendar</a>
    <a href="">Mechanics</a>
    <a href="">Customers</a>
  </aside>
  <section>
    <div>
      {{!-- {{> calendar}} --}}
    </div>
    <div
      class="grid auto-rows-auto grid-cols-[10%] auto-cols-auto overflow-auto"
    >
      <div class="col-start-1 col-end-2 row-start-1 row-end-2">9am</div>
      <div class="col-start-1 col-end-2 row-start-2 row-end-3">10am</div>
      <div class="col-start-1 col-end-2 row-start-3 row-end-4">11am</div>
      <div class="col-start-1 col-end-2 row-start-4 row-end-5">12pm</div>
      <div class="col-start-1 col-end-2 row-start-5 row-end-6">1pm</div>
      <div class="col-start-1 col-end-2 row-start-6 row-end-7">2pm</div>
      <div class="col-start-1 col-end-2 row-start-7 row-end-8">3pm</div>
      <div class="col-start-1 col-end-2 row-start-8 row-end-9">4pm</div>
      <div class="col-start-1 col-end-2 row-start-9 row-end-10">5pm</div>

      {{#each mechanics as |mechanic|}}
        {{! this needs to render html based on the jobs each mechanic has assigned to them and put those jobs in the correct timeslots
            api will send workshop.mechanics with every job for the selected date (defaulting to today's date) }}
        <div class="row-start-1 row-end-2">{{mechanic.name}}</div>
        {{#each mechanic.jobs as |job|}}
          <div class="row-start-{{rowHelper job.time}}">
            <a>
              <span>{{job.service_name}}</span>
              <span>{{job.car.registration}}</span>
            </a>
          </div>
        {{/each}}
      {{/each}}

    </div>
  </section>
</div>